[data-tab-content] {
  display: none;
}

.active[data-tab-content]{
  display: block;
}

body{
  padding: 0;
  margin: 0;
  background-color: #eee
}

.tabs{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab{
  cursor: point;
  padding: 10px;
}

.tab.active{
  background-color: #CCC;
}

.tab:hover{
  background-color: #AAA;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*new stuff */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto
}

.container.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.875rem;
}

.menuToggle {
  display: none;
}

header {
  background-color: #fff;
  box-shadow: rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0,0,0,0.5) 0px 4px 6px -2px;
  position: sticky;
  top: 0;
  z-index: 99;
}

.hedear .logo {
  font-size:1.5rem
}

.header .logo span{
  color: crimson
}

.header .navigation{
  list-style:none;
  display:flex;
}

.header .navigation li{
  margin-left:1rem;
  font-size:1.1rem;
  padding:0.4rem;
}

.header .navigation li.active{
  border-bottom: 2px solid crimson;
}

.header .navigation li.hover{
  border-bottom: 2x solid crimson;
}
